
#question {
font-family: 'Montserrat', sans-serif;
font-size: 18pt;
color: black;
}

h1 {
  font-size: 115% !important;
}

#wrapper {
/*clear: both;*/
}

#bt_next, #bt_prev {
 font-size: 100%;
 height: 90%;
 width: 20%;
}

#bt_score, #bt_again {
  width: 25%;
  height: 100%;
/*  margin: 0 auto;*/
  margin-bottom: 1rem;
}

#score, .score {
  text-align: center;
}

#score {
  color: green;
  font-size: 16pt;
  margin-bottom: 1rem;
}

#app-heading {
  font-size: 200%;
}

.btn-bottom {
  margin-bottom: 0;
  text-align: center;
}

.btn-center {
  margin: 0 auto;
}
